@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.3;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Inter";
  color: #151515;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FFF;
}

[class*=__container] {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.__ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}
@media (max-width: 479.98px) {
  .title {
    font-size: 32px;
  }
}

/*|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #151515;
}
.header_transp {
  background-color: transparent;
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 32px;
}
@media (max-width: 620px) {
  .header__body {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 20px;
  }
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  row-gap: 10px;
}
@media (max-width: 850px) {
  .header__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}
@media (max-width: 620px) {
  .header__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 460px) {
  .header__list {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}
.header__link {
  font-weight: 700;
  color: #FFF;
  line-height: 1.2;
  text-transform: uppercase;
}
.header__link:hover {
  text-decoration: underline;
}

/*|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|*/
.top {
  position: relative;
}
.top__container {
  padding-top: 16.13%;
}
@media (max-width: 991.98px) {
  .top__container {
    padding-top: 50%;
  }
}
@media (max-width: 479.98px) {
  .top__container {
    padding-top: 85%;
  }
}
.top__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top__title {
  color: #FFF;
  font-size: 96px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 38px;
}
@media (max-width: 991.98px) {
  .top__title {
    font-size: 68px;
  }
}
@media (max-width: 767.98px) {
  .top__title {
    font-size: 46px;
    margin-bottom: 24px;
  }
}
@media (max-width: 479.98px) {
  .top__title {
    font-size: 36px;
    text-align: center;
  }
}
.top__button {
  color: #FFF;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #151515;
  width: 430px;
  height: 90px;
  border-radius: 5px;
  padding: 10px 15px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.top__button:hover {
  background-color: #202020;
}
@media (max-width: 991.98px) {
  .top__button {
    width: 350px;
  }
}
@media (max-width: 767.98px) {
  .top__button {
    width: 270px;
    height: 60px;
    font-size: 24px;
  }
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 6.858%;
}
.slider__slides {
  padding-bottom: 42.3%;
}
.slider__slide {
  display: none;
  -webkit-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}
.slider__slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}
.slider__slide.active {
  display: block;
}
.slider__pagination {
  width: 100%;
  height: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider__button {
  display: block;
  width: 10%;
  height: 3px;
  background-color: #151515;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.slider__button.active {
  background-color: #FFF;
  height: 6px;
}

/*|BENEFITS|BENEFITS|BENEFITS|BENEFITS|BENEFITS|BENEFITS|BENEFITS|BENEFITS|BENEFITS|BENEFITS|BENEFITS|BENEFITS|*/
.benefits {
  padding: 150px 0 75px 0;
}
@media (max-width: 479.98px) {
  .benefits {
    padding: 80px 0 40px 0;
  }
}
.benefits__title {
  margin: 0 0 50px 0;
}
.benefits__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 479.98px) {
  .benefits__items {
    gap: 20px;
  }
}
.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  max-width: 270px;
}
@media (max-width: 479.98px) {
  .benefits__item {
    gap: 10px;
  }
}
.benefits__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  border: 1px solid #06F;
  margin: 0 0;
}
.benefits__label {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}
.benefits__text {
  text-align: left;
}

/*|TERMS|TERMS|TERMS|TERMS|TERMS|TERMS|TERMS|TERMS|TERMS|TERMS|TERMS|TERMS|TERMS|TERMS|TERMS|TERMS|TERMS|TERMS|*/
.terms {
  padding: 75px 0 75px 0;
}
@media (max-width: 479.98px) {
  .terms {
    padding: 40px 0 40px 0;
  }
}
.terms__body {
  max-width: 595px;
  margin: 0 auto;
}
.terms__title {
  margin: 0 0 50px 0;
}
.terms__text:not(:last-child) {
  margin: 0 0 50px 0;
}
.terms__list {
  margin: 0 0 70px 0;
}
@media (max-width: 549px) {
  .terms__list {
    margin: 0 0 50px 0;
  }
}

.list {
  counter-reset: rulescount;
}
.list__title {
  margin: 0 0 50px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}
@media (max-width: 549px) {
  .list__title {
    margin: 0 0 30px 0;
  }
}
.list__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 40px;
}
@media (max-width: 549px) {
  .list__items {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 270px;
  height: 100px;
  position: relative;
}
@media (max-width: 549px) {
  .list__item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 42px;
    height: 100%;
  }
}
.list__item::before {
  counter-increment: rulescount;
  content: counter(rulescount);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #06F;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: -240px;
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}
@media (max-width: 549px) {
  .list__item::before {
    top: 0px;
    left: 0;
    width: 32px;
    height: 32px;
    font-size: 16px;
  }
}

/*|WELCOME|WELCOME|WELCOME|WELCOME|WELCOME|WELCOME|WELCOME|WELCOME|WELCOME|WELCOME|WELCOME|WELCOME|WELCOME|*/
.welcome {
  padding: 75px 0 75px 0;
}
@media (max-width: 479.98px) {
  .welcome {
    padding: 40px 0 40px 0;
  }
}
.welcome__title {
  margin: 0 0 20px 0;
  text-transform: uppercase;
}
.welcome__subtitle {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 50px 0;
}
.welcome__video {
  text-align: center;
  margin: 0 auto;
  position: relative;
  padding-bottom: 41.7%;
  -ms-grid-column-align: center;
      justify-self: center;
  max-width: 1000px;
}
.welcome__video iframe {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*|IMPORTANT|IMPORTANT|IMPORTANT|IMPORTANT|IMPORTANT|IMPORTANT|IMPORTANT|IMPORTANT|IMPORTANT|IMPORTANT|IMPORTANT|*/
.important {
  padding: 75px 0 150px 0;
}
@media (max-width: 479.98px) {
  .important {
    padding: 40px 0 80px 0;
  }
}
.important__title {
  margin: 0 0 20px 0;
}
.important__text {
  max-width: 585px;
  margin: 0 auto 50px auto;
}
.important__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 35px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.important__item {
  max-width: 270px;
}
.important__image {
  margin: 0 0 20px 0;
}
/*|CONTACTUS|IMPORTANT|IMPORTANT|IMPORTANT|IMPORTANT|IMPORTANT|IMPORTANT|IMPORTANT|IMPORTANT|IMPORTANT|IMPORTANT|*/
.contactus {
  padding: 240px 0 75px 0;
}
@media (max-width: 460px) {
  .contactus {
    padding: 300px 0 40px 0;
  }
}
.contactus__title {
  margin: 0 0 20px 0;
}
.contactus__subtitle {
  text-align: center;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 50px 0;
}
@media (max-width: 460px) {
  .contactus__subtitle {
    font-size: 18px;
  }
}
.contactus__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 580px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 50px;
}
@media (max-width: 650px) {
  .contactus__form {
    row-gap: 20px;
  }
}
.contactus__input {
  max-width: 270px;
  padding: 18px 20px;
  border: 1px solid #0066FF;
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  font-family: "Inter";
  color: #151515;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
}
.contactus__input:focus {
  -webkit-box-shadow: 1px 1px 3px #0066FF;
          box-shadow: 1px 1px 3px #0066FF;
}
.contactus__input::-webkit-input-placeholder {
  opacity: 0.5;
}
.contactus__input::-moz-placeholder {
  opacity: 0.5;
}
.contactus__input:-ms-input-placeholder {
  opacity: 0.5;
}
.contactus__input::-ms-input-placeholder {
  opacity: 0.5;
}
.contactus__input::placeholder {
  opacity: 0.5;
}
@media (max-width: 650px) {
  .contactus__input {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: none;
  }
}
.contactus__textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  resize: none;
  height: 290px;
  border: 1px solid #0066FF;
  padding: 28px 20px;
  font-family: "Inter";
  color: #151515;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
}
.contactus__textarea:focus {
  -webkit-box-shadow: 1px 1px 2px #0066FF;
          box-shadow: 1px 1px 2px #0066FF;
}
.contactus__textarea::-webkit-input-placeholder {
  opacity: 0.5;
}
.contactus__textarea::-moz-placeholder {
  opacity: 0.5;
}
.contactus__textarea:-ms-input-placeholder {
  opacity: 0.5;
}
.contactus__textarea::-ms-input-placeholder {
  opacity: 0.5;
}
.contactus__textarea::placeholder {
  opacity: 0.5;
}
.contactus__button {
  display: inline-block;
  padding: 13px 15px;
  background-color: #151515;
  width: 184px;
  margin: 0 auto;
  border-radius: 3px;
  color: #FFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}
.contactus__button:hover {
  background-color: #242424;
}

/*|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|*/
.footer {
  background-color: #151515;
  padding-top: 50px;
  padding-bottom: 32px;
}
.footer__menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 0 50px 0;
}
@media (max-width: 767.98px) {
  .footer__menu-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(auto, 225px) 20px minmax(auto, 225px);
    grid-template-columns: repeat(2, minmax(auto, 225px));
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    row-gap: 35px;
    margin: 0 0 30px 0;
  }
}
.footer__app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 39px;
     -moz-column-gap: 39px;
          column-gap: 39px;
  margin: 0 0 50px 0;
}
@media (max-width: 675px) {
  .footer__app {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 30px 0;
  }
}
.footer__text {
  max-width: 806px;
  margin: 0 auto 30px auto;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
}
.footer__text a {
  color: #FFF;
  text-decoration: underline;
  line-height: 1.2;
}
.footer__support-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
@media (max-width: 675px) {
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 675px) {
  .footer__item {
    margin-bottom: 10px;
    text-align: center;
  }
}
.footer__link {
  color: #FFF;
}
.footer__link:hover {
  text-decoration: underline;
}

.menu-footer {
  max-width: 225px;
}
.menu-footer__label {
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 40px 0;
}
@media (max-width: 767.98px) {
  .menu-footer__label {
    font-size: 18px;
    margin: 0 0 20px 0;
  }
}
.menu-footer__item:not(:last-child) {
  margin: 0 0 20px 0;
}
.menu-footer__link {
  color: #FFF;
}
.menu-footer__link:hover {
  text-decoration: underline;
}