@import 'nullstyle.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter';
    color: #151515;
    font-weight: 400;
    box-sizing: border-box;
    background-color: #FFF;
}

[class*="__container"] {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

.main {
    flex: 1 1 auto;

    &__top {}
}

.__ibg {
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }
}


/*|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;

    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #151515;

    &_transp {
        background-color: transparent;
    }

    &__container {}

    &__body {

        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 32px;



        @media (max-width: 620px) {
            align-items: flex-start;
            gap: 20px;
        }
    }

    &__logo {}

    &__menu {}

    &__list {
        display: flex;
        column-gap: 35px;
        row-gap: 10px;

        @media (max-width: 850px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 15px;
        }

        @media (max-width: 620px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 460px) {
            grid-template-columns: auto;
        }
    }

    &__item {}

    &__link {
        font-weight: 700;
        color: #FFF;
        line-height: 1.2;
        text-transform: uppercase;

        &:hover {
            text-decoration: underline;
        }
    }
}

/*|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|TOP|*/
.top {
    position: relative;

    &__container {
        padding-top: 16.13%;

        @media (max-width: 991.98px) {
            padding-top: 50%;
        }

        @media (max-width: 479.98px) {
            padding-top: 85%;
        }
    }

    &__slider {}

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        color: #FFF;
        font-size: 96px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 38px;

        @media (max-width: 991.98px) {
            font-size: 68px;
        }

        @media (max-width: 767.98px) {
            font-size: 46px;
            margin-bottom: 24px;
        }

        @media (max-width: 479.98px) {
            font-size: 36px;
            text-align: center;
        }
    }

    &__button {
        color: #FFF;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        background-color: #151515;
        width: 430px;
        height: 90px;
        border-radius: 5px;
        padding: 10px 15px;
        transition: all 0.3s ease 0s;

        &:hover {
            background-color: #202020;
        }

        @media (max-width: 991.98px) {
            width: 350px;
        }

        @media (max-width: 767.98px) {
            width: 270px;
            height: 60px;
            font-size: 24px;
        }
    }
}

.slider {
    display: flex;
    align-items: flex-end;
    padding-bottom: 6.858%;

    &__slides {
        padding-bottom: 42.30%;
    }

    &__slide {
        display: none;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(0, 0, 0, 0.3);
            z-index: -1;
        }

        &.active {
            display: block;
        }

        transition: all 2s ease 0s;
    }

    &__pagination {
        width: 100%;
        height: 6px;
        display: flex;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }

    &__button {
        display: block;
        width: 10%;
        height: 3px;
        background-color: #151515;

        &.active {
            background-color: #FFF;
            height: 6px;
        }

        transition: all 0.5s ease 0s;
    }
}

/*|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|*/
.footer {
    background-color: #151515;
    padding-top: 50px;
    padding-bottom: 32px;

    &__container {}

    &__menu-items {
        display: flex;
        justify-content: space-around;
        margin: 0 0 50px 0;

        @media (max-width: 767.98px) {
            display: grid;
            grid-template-columns: repeat(2, minmax(auto, 225px));
            column-gap: 20px;
            row-gap: 35px;
            margin: 0 0 30px 0;
        }
    }

    &__menu {}

    &__app {
        display: flex;
        justify-content: center;
        column-gap: 39px;
        margin: 0 0 50px 0;

        @media (max-width: 675px) {
            flex-direction: column;
            row-gap: 15px;
            align-items: center;
            margin: 0 0 30px 0;
        }
    }

    &__app-link {}

    &__text {
        max-width: 806px;
        margin: 0 auto 30px auto;
        color: #FFF;
        text-align: center;
        font-size: 12px;
        line-height: 1.2;

        a {
            color: #FFF;
            text-decoration: underline;
            line-height: 1.2;
        }
    }

    &__support-nav {
        display: flex;
        justify-content: center;
    }

    &__list {
        display: flex;
        column-gap: 40px;


        @media (max-width: 675px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        @media (max-width: 675px) {
            margin-bottom: 10px;
            text-align: center;
        }
    }

    &__link {
        color: #FFF;

        &:hover {
            text-decoration: underline;
        }


    }
}

.menu-footer {
    max-width: 225px;

    @media (max-width: 767.98px) {}

    &__label {
        color: #FFF;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        margin: 0 0 40px 0;

        @media (max-width: 767.98px) {
            font-size: 18px;
            margin: 0 0 20px 0;
        }
    }

    &__list {}

    &__item {
        &:not(:last-child) {
            margin: 0 0 20px 0;
        }
    }

    &__link {
        color: #FFF;

        &:hover {
            text-decoration: underline;
        }
    }
}