@import 'nullstyle.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter';
    color: #151515;
    font-weight: 400;
}

[class*="__container"] {
    max-width: 1230px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

/*|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|*/
.header {
    padding: 40px 0;
    background-color: #151515;

    &__container {}

    &__body {

        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 32px;

        &_transp {}

        @media (max-width: 620px) {
            align-items: flex-start;
            gap: 20px;
        }
    }

    &__logo {}

    &__menu {}

    &__list {
        display: flex;
        column-gap: 35px;
        row-gap: 10px;

        @media (max-width: 850px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 15px;
        }

        @media (max-width: 620px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 460px) {
            grid-template-columns: auto;
        }
    }

    &__item {}

    &__link {
        font-weight: 700;
        color: #FFF;
        line-height: 1.2;
        text-transform: uppercase;

        &:hover {
            text-decoration: underline;
        }
    }
}

/*|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|*/
.footer {
    background-color: #151515;
    padding: 50px 0 32px 0;

    &__container {}

    &__menu-items {
        display: flex;
        justify-content: space-around;
        margin: 0 0 50px 0;
    }

    &__menu {}

    &__app {
        display: flex;
        justify-content: center;
        column-gap: 39px;
        margin: 0 0 50px 0;
    }

    &__app-link {}

    &__text {
        max-width: 806px;
        margin: 0 auto 30px auto;
        color: #FFF;
        text-align: center;
        font-size: 12px;
        line-height: 1.2;

        a {
            color: #FFF;
            text-decoration: underline;
            line-height: 1.2;
        }
    }

    &__support-nav {
        display: flex;
        justify-content: center;
    }

    &__list {
        display: flex;
        column-gap: 40px;
    }

    &__item {}

    &__link {
        color: #FFF;

        &:hover {
            text-decoration: underline;
        }
    }
}

.menu-footer {
    max-width: 225px;

    &__label {
        color: #FFF;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        margin: 0 0 40px 0;
    }

    &__list {}

    &__item {
        &:not(:last-child) {
            margin: 0 0 20px 0;
        }
    }

    &__link {
        color: #FFF;

        &:hover {
            text-decoration: underline;
        }
    }
}